.vl_input {
  &__group {
    display: block;
    margin: var(--page-margin) 0;
  }
  &__label {
    display: block;
    color: var(--color-warm-grey-500);
    font-size: var(--font-size--medium);
    margin-bottom: 0.2rem;
  }
  &__field {
    display: block;
    width: 100%;
    input {
      display: block;
      width: 100%;
    }
  }
  &__element--full {
    display: block;
    width: 100%;
  }
}
