html {
  /* oui foundation */
  --oui-hue: 200;
  --oui-saturation: 100%;
  --oui-lightness: 50%;

  /* light */
  --oui-light: hsl(
    var(--oui-hue) var(--oui-saturation) var(--oui-lightness)
  );
  --text-primary-light: hsl(var(--oui-hue) var(--oui-saturation) 10%);
  --text-secondary-light: hsl(var(--oui-hue) 30% 30%);
  --surface1-light: hsl(var(--oui-hue) 25% 90%);
  --surface2-light: hsl(var(--oui-hue) 20% 99%);
  --surface3-light: hsl(var(--oui-hue) 20% 92%);
  --surface4-light: hsl(var(--oui-hue) 20% 85%);
  --surface-shadow-light: var(--oui-hue) 10% 20%;
  --shadow-strength-light: 0.02;

  /* dark */
  --oui-dark: hsl(
    var(--oui-hue) calc(var(--oui-saturation) / 2)
      calc(var(--oui-lightness) / 1.5)
  );
  --text-primary-dark: hsl(var(--oui-hue) 15% 85%);
  --text-secondary-dark: hsl(var(--oui-hue) 5% 65%);
  --surface1-dark: hsl(var(--oui-hue) 10% 10%);
  --surface2-dark: hsl(var(--oui-hue) 10% 15%);
  --surface3-dark: hsl(var(--oui-hue) 5% 20%);
  --surface4-dark: hsl(var(--oui-hue) 5% 25%);
  --surface-shadow-dark: var(--oui-hue) 50% 3%;
  --shadow-strength-dark: 0.8;

  /* dim */
  --oui-dim: hsl(
    var(--oui-hue) calc(var(--oui-saturation) / 1.25)
      calc(var(--oui-lightness) / 1.25)
  );
  --text-primary-dim: hsl(var(--oui-hue) 15% 75%);
  --text-secondary-dim: hsl(var(--oui-hue) 10% 61%);
  --surface1-dim: hsl(var(--oui-hue) 10% 20%);
  --surface2-dim: hsl(var(--oui-hue) 10% 25%);
  --surface3-dim: hsl(var(--oui-hue) 5% 30%);
  --surface4-dim: hsl(var(--oui-hue) 5% 35%);
  --surface-shadow-dim: var(--oui-hue) 30% 13%;
  --shadow-strength-dim: 0.2;
}

:root {
  color-scheme: light;

  /* set defaults */
  --oui-color: var(--oui-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --surface-primary: var(--surface1-light);
  --surface-secondary: var(--surface2-light);
  --surface-3th: var(--surface3-light);
  --surface-4th: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    /* set defaults */
    --oui-color: var(--oui-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --surface-primary: var(--surface1-light);
    --surface-secondary: var(--surface2-light);
    --surface-3th: var(--surface3-light);
    --surface-4th: var(--surface4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --oui-color: var(--oui-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --surface-primary: var(--surface1-light);
  --surface-secondary: var(--surface2-light);
  --surface-1th: var(--surface1-light);
  --surface-2th: var(--surface2-light);
  --surface-3th: var(--surface3-light);
  --surface-4th: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --oui-color: var(--oui-dark);
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --surface-primary: var(--surface1-dark);
  --surface-secondary: var(--surface2-dark);
  --surface-1th: var(--surface1-dark);
  --surface-2th: var(--surface2-dark);
  --surface-3th: var(--surface3-dark);
  --surface-4th: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --oui-color: var(--oui-dim);
  --text-primary: var(--text-primary-dim);
  --text-secondary: var(--text-secondary-dim);
  --surface-primary: var(--surface1-dim);
  --surface-secondary: var(--surface2-dim);
  --surface-1th: var(--surface1-dim);
  --surface-2th: var(--surface2-dim);
  --surface-3th: var(--surface3-dim);
  --surface-4th: var(--surface4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

.oui-theme {
  background-color: var(--surface-primary);
  color: var(--text-primary);
}
