.vl_headline {
  font-weight: 200;
  text-transform: uppercase;
}

.vl_divider {
  padding: 0.5rem 0;
  &--transparent {
    border: none;
  }
}

.vl_text {
  &--hint {
    font-size: 0.9rem;
  }
  &--center {
    text-align: center;
  }
}
